@font-face{
  font-family: runaway;
  src:url("../fonts/Runaway.otf");
}

@font-face{
  font-family: whitepine;
  src:url("../fonts/WhitePine-Regular.otf");
}

@font-face{
  font-family: dosis;
  src:url("../fonts/Dosis-SemiBold.ttf");
}

@font-face{font-family:ikaros;src:url(../fonts/ikaros.otf)}